
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Page Title Here
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h1>This is Home Page</h1>
    <div class="row text-center" style="margin-top:100px">
        <img class="" src="~/images/logo.png" />
    </div>
    
</section>
<!-- /.content -->
